/* width>600px 一行放一个div */

.parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.child{
    width: 300px;
    height: 300px;
    border: 1px solid rosybrown;
    margin-top: 10px;
}